table.nav, table.menu, table.end /* основная таблица */
{
	table-layout:fixed;
	border-collapse:collapse;
}
table.nav, table.end
{
	width:100%;
}
table.nav, table.menu, td.filler
{
	height:100%;
}
table.nav > tbody > tr > td, table.menu > tbody > tr > td, table.end > tbody > tr > td
{
	padding:0px;
	margin:0px;
}
div.container
{
	position:relative;
	width:0px;
	height:0px;
}
td.leftmost.menuitem, td.rightmost.links, td.rightmost.popular
{
	padding-left:20px !important;
}
td.leftmost.menuitem, td.rightmost.links, td.rightmost.popular, td.middle.crumbs, td.content, table.end td
{
	text-align:left;
}
td.menuitem
{
	padding-left:15px !important;
	padding-right:20px !important;
}
td.content, td.column, td.crumbs.middle
{
	vertical-align:top;
}
td.menuitem, td.middle
{
	background-repeat:repeat;
}

/* ширина */
td.leftmost, td.leftmost.prefooter div /* левая колонка */
{
	width: 176px;
}
td.rightmost, td.rightmost.prefooter div /* правая колонка */
{
	width:140px;
}
td.left, td.right
{
	width:32px;
}

/* высота */
td.header /* верхняя строчка */
{
	height:129px;
}
td.crumbs /* вторая строчка */
{
	height:39px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
td.crumbs { height:35px; }
}
td.prefooter, td.prefooter div
{
	height:45px;
}
td.footer
{
	height:81px;
}
td.end
{
	height:23px;
}

/* шапка */
td.left.header
{
	background-position:-176px 0px;
}
td.leftleast.header
{
	width:179px;
	background-position:-208px 0px;
}
td.rightleast.header
{
	width:163px;
	background-position:-389px 0px;
}
td.right.header
{
	background-position:-552px 0px;	
}
td.leftmost.header
{
	background-position: left top;
}
td.rightmost.header
{
	background-position: right top;
}

/* лысая шапка */
td.left.header.dummy
{
	background-position:-176px -620px;
}
td.leftleast.header.dummy
{
	width:179px;
	background-position:-208px -620px;
}
td.rightleast.header.dummy
{
	width:163px;
	background-position:-389px -620px;
}
td.right.header.dummy
{
	background-position:-552px -620px;
}
td.leftmost.header.dummy
{
	background-position: 0px -620px;
}
td.rightmost.header.dummy
{
	background-position: -584px -620px;
}

/* вторая строчка */
td.leftmost.crumbs
{
	background-position:0px -129px;
}
td.left.crumbs
{
	background-position:-176px -129px;
}
td.middle.crumbs
{
	background-position:0px -129px;
	font-weight:bold;
	padding-left:5px;
	padding-top:4px;
}
td.right.crumbs
{
	background-position:-552px -129px;
}
td.rightmost.crumbs
{
	background-position:-584px -129px;
}

/* лысая вторая строчка */
td.leftmost.crumbs.dummy
{
	background-position:0px -749px;
}
td.rightmost.crumbs.dummy
{
	background-position:-584px -749px;
}

/* левое меню */
th.leftmost.group
{
/*	height:100px; */
	padding-top:72px;
	padding-left:69px;
	padding-right:14px;
	padding-bottom:12px;
	background-position:0px -289px;
}
th.leftmost.group.first
{
/*	height:37px; */
	padding-top:8px;
	padding-bottom:15px;
	background-position:0px -168px;
}
th.leftmost.group.first.dummy
{
	background-position:0px -788px;
}

th.leftmost.group
{
	font-family: Verdana,Arial,sans-serif;
    font-size: 9pt;
    text-align: right;
}

div.leftmost.menupoke
{
	position:absolute;
	width:100px;
	height:100px;
	left:-69px;
	top:-73px;
}
div.leftmost.menupoke1
{
	background-position:-180px -173px;
}
div.leftmost.menupoke2
{
	background-position:-280px -173px;
}
div.leftmost.menupoke3
{
	background-position:-380px -173px;
}
div.leftmost.menupoke4
{
	background-position:-480px -173px;
}
div.leftmost.menupoke5
{
	background-position:-180px -273px;
}
div.leftmost.menupoke6
{
	background-position:-280px -273px;
}
div.leftmost.menupoke7
{
	background-position:-380px -273px;
}
div.leftmost.menupoke8
{
	background-position:-480px -273px;
}
div.leftmost.menupoke9
{
	background-position:-180px -373px;
}

/* правое меню */
th.rightmost.group
{
	background-position:-584px -434px;
	height:35px;
	padding-top:20px;
	padding-bottom:0px;
	padding-left:9px;
	padding-right:15px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
	th.rightmost.group
	{
		height:15px;
		padding-top:21px;
	}
}
th.rightmost.group.first, th.rightmost.group.second
{
	background-position:-584px -454px;
	height:15px;
	padding-top:0px;
}
th.rightmost.group.first.dummy
{
	background-position:-584px -788px;
}
td.rightmost.menuend
{
	background-position:-584px -267px;
	height:10px;
}
td.rightmost.menuinsert
{
	background-position:-584px -267px;
	height:83px;
}
td.rightmost.menuitem, td.rightmost.column, td.rightmost.prefooter
{
	background-position:-176px 0px !important;
}
td.rightmost.menupoke div.container
{
	width:100%;
	height:100%;
}
div.rightmost.menupoke
{
	height:50px;
	width:100px;
	position:absolute;
	right:-20px;
	bottom:-4px;
}
td.rightmost.menupoke
{
	height:46px;
}
div.rightmost.menupoke1
{
	background-position:-280px -373px;
}
div.rightmost.menupoke2
{
	background-position:-380px -373px;
}
div.rightmost.menupoke3
{
	background-position:-480px -373px;
}

.rightmost.menuitem.links, .rightmost.menuitem.popular
{
	font-size:7pt;
}

/* завершение */
td.prefooter
{
	position:relative;
	vertical-align:bottom;
}
td.prefooter div.container
{
	bottom:0px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{ 
td.prefooter div.container { position:absolute !important }
}
td.prefooter div.prefooter
{
	position:absolute;
	right:0px;
	bottom:0px;
}
td.leftmost.prefooter div.prefooter
{
	background-position:0px -471px;
}
td.rightmost.prefooter div.prefooter
{
	background-position:-584px -471px;
}
td.footer.leftend
{
	background-position:0px -516px;
}
td.footer.middle
{
	background-position:0px -168px;
}
td.footer.rightend
{
	background-position:-389px -516px;
}

/* отписки */
td.end.leftpart
{
	background-position:0px -597px;
}
td.end.middle
{
	background-position:0px -249px;
}
td.end.rightpart
{
	background-position:-389px -597px;
}
/* table.end td
{
	height:23px;
}
table.end td.leftcorner, table.end td.rightcorner
{
	width:13px;
}
table.end td.leftcorner
{
	background-position:0px -597px;
}
table.end td.leftpart, table.end td.rightpart
{
	background-position:0px -250px;
}
table.end td.rightcorner
{
	background-position:-711px -597px;
} */

.disclaimer
{
	font-size:7pt !important;
	text-align:left;
	padding-left:10px !important;
}
.copyright
{
	text-align:right !important;
	padding-right:10px !important;
}
.disclaimer div.container div
{
	position:absolute;
}

/* содержимое */
td.content
{
	padding:5px !important;
}
